.process-item{margin:5px; padding:3px; text-align:center; border:2px #CCC solid; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; -ms-border-radius:5px;}

.left{text-align:left;}
.center{text-align:center;margin:0 auto;}
.right{text-align:right;}
.top{margin-top:50px;}
.fluid{width:99%;}
.hide{display:none;}

.tecnologias{margin: 20px 0px 20px 240px;}
.gae{ background: url('../img/icon_tecnologias.png') no-repeat 0 0; width: 86px; height: 48px; float: left; opacity: 0.85;} 
.gae:hover{opacity: 1.0;}
.github{ background: url('../img/icon_tecnologias.png') no-repeat -136px 0; width: 149px; height: 48px; float: left; opacity: 0.85; } 
.github:hover{opacity: 1.0;}
.html5{ background: url('../img/icon_tecnologias.png') no-repeat -335px 0; width: 48px; height: 48px; float: left; opacity: 0.85; } 
.html5:hover{opacity: 1.0;}
.java{ background: url('../img/icon_tecnologias.png') no-repeat -433px 0; width: 48px; height: 48px; float: left; opacity: 0.85; } 
.java:hover{opacity: 1.0;}
.vraptor{ background: url('../img/icon_tecnologias.png') no-repeat -531px 0; width: 165px; height: 48px; float: left; opacity: 0.85; } 
.vraptor:hover{opacity: 1.0;}

.browser{margin: 20px 0px 20px 320px;}
.google-chrome{ background: url('../img/icon_browsers.png') no-repeat 0 0; width: 64px; height: 64px; float: left; opacity: 0.85;}
.google-chrome:hover{opacity: 1.0;}
.mozilla-firefox{ background: url('../img/icon_browsers.png') no-repeat -128px 0; width: 64px; height: 64px; float: left; opacity: 0.85;}
.mozilla-firefox:hover{opacity: 1.0;}
.internet-explorer{ background: url('../img/icon_browsers.png') no-repeat -256px 0; width: 64px; height: 64px; float: left; opacity: 0.85;}
.internet-explorer:hover{opacity: 1.0;}
.opera-software{ background: url('../img/icon_browsers.png') no-repeat -384px 0; width: 64px; height: 64px; float: left; opacity: 0.85;}
.opera-software:hover{opacity: 1.0;}
.apple-safari{ background: url('../img/icon_browsers.png') no-repeat -512px 0; width: 64px; height: 64px; float: left; opacity: 0.85;}
.apple-safari:hover{opacity: 1.0;}