/* ---------------------------------------------------------------------------
 JFinance
 Style Sheet
 http://github.com/caio-ribeiro-pereira/jfinance
 
 Autor: Caio Ribeiro Pereira
 Twitter: @crp_underground

/* = Template
--------------------------------------------------------------------------- */
html {
	font-size: 100.01%;
	font-family: segoe ui, Arial, sans-serif;
	color: #000;
}

body {
	background-color: #000;
}

header,section,footer {
	margin-top: 10px;
}

div.main {
	margin-top: 25px;
	padding: 25px;
	background-color: #FFF;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-ms-border-radius: 7px;
}

canvas {
	margin-left: 10px;
}

small {
	font-size: 0.8em;
}

a {
	text-decoration: none;
	color: #000;
}
a:hover {
	text-decoration: underline;
	color: #555;
}
a:active {
	color: #000;
}

nav {
	margin-top: 10px;
	padding: 0px;
}

nav a {
	border: solid 1px #000;
	background-color: #DDD;
	padding: 3px;
	margin: -1px;
	float: left;
}

nav a:hover {
	background-color: #333;
	color: #FFF;
}

nav a.left {
	border-radius: 5px 0px 0px 5px;
	-moz-border-radius: 5px 0px 0px 5px;
	-webkit-border-radius: 5px 0px 0px 5px;
	-ms-border-radius: 5px 0px 0px 5px;
}
nav a.right {
	border-radius: 0px 5px 5px 0px;
	-moz-border-radius: 0px 5px 5px 0px;
	-webkit-border-radius: 0px 5px 5px 0px;
	-ms-border-radius: 0px 5px 5px 0px;
}

ul {
	margin-left: 20px;
}