html{
	background-color: #F0F0F0;
}
body{
	background-color: #FFFFFF;
	background-image:linear-gradient(bottom, #F0F0F0 30%, #FFFFFF 70%);
	background-image:-o-linear-gradient(bottom, #F0F0F0 30%, #FFFFFF 70%);
	background-image:-moz-linear-gradient(bottom, #F0F0F0 30%, #FFFFFF 70%);
	background-image:-webkit-linear-gradient(bottom, #F0F0F0 30%, #FFFFFF 70%);
	background-image:-ms-linear-gradient(bottom, #F0F0F0 30%, #FFFFFF 70%);
	background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0.3, #F0F0F0),color-stop(0.7, #FFFFFF));
	background-image:-khtml-gradient(linear,left bottom,left top,color-stop(0.3, #F0F0F0),color-stop(0.7, #FFFFFF));
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0F0F0', endColorstr='#FFFFFF', GradientType=0);
}
.block{
	width: 20px; 
	height: 20px; 
	border:1px solid #FFF; 
	text-align:center; 
	color:#FFF;
}
.odd{
	background-color: #DDD; 
	color:#404040;
}
.even{
	background-color:#FFF; 
	color:#404040;
}
tr:hover{
	background-color: #BBB; 
	color:#404040;
}
thead tr, tfoot tr{
	background-color:#404040;
	color:#FFF;
}

.menu{
	background-color:#0064cd;
	background-repeat:repeat-x;
	background-image:-khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
	background-image:-moz-linear-gradient(top, #049cdb, #0064cd);
	background-image:-ms-linear-gradient(top, #049cdb, #0064cd);
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
	background-image:-webkit-linear-gradient(top, #049cdb, #0064cd);
	background-image:-o-linear-gradient(top, #049cdb, #0064cd);
	background-image:linear-gradient(top, #049cdb, #0064cd);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#049cdb', endColorstr='#0064cd', GradientType=0);
}
.menu a{
	color:#FFF;
	text-shadow:1px 1px 1px #000;
}
.menu a:hover{
	color:#0069D6;
	text-shadow:1px 1px 1px #FFF;
}

#rules-dialog{
	padding:10px 20px;
}
.item{
	background-image:linear-gradient(bottom, #F0F0F0 10%, #FFFFFF 50%);
	background-image:-o-linear-gradient(bottom, #F0F0F0 10%, #FFFFFF 50%);
	background-image:-moz-linear-gradient(bottom, #F0F0F0 10%, #FFFFFF 50%);
	background-image:-webkit-linear-gradient(bottom, #F0F0F0 10%, #FFFFFF 50%);
	background-image:-ms-linear-gradient(bottom, #F0F0F0 10%, #FFFFFF 50%);
	background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0.1, #F0F0F0),color-stop(0.5, #FFFFFF));
	background-image:-khtml-gradient(linear,left bottom,left top,color-stop(0.1, #F0F0F0),color-stop(0.5, #FFFFFF));
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0F0F0', endColorstr='#FFFFFF', GradientType=0);
	margin:5px; 
	padding:3px; 
	text-align:center; 
	border:2px #CCC solid; 
	border-radius:5px; 
	-webkit-border-radius:5px; 
	-moz-border-radius:5px; 
	-ms-border-radius:5px;
	-o-border-radius:5px;
	-khtml-border-radius:5px;
}
.chart-panel{
	overflow-x: scroll; 
	overflow-y: hidden; 
	position: relative; 
	padding: 10px 0px 0px 10px; 
	border: 1px solid #000;
}

.left{
	text-align:left;
}
.center{
	text-align:center;
	margin:0 auto;
}
.right{
	text-align:right;
}
.justify{
	text-align: justify;
}
.top{
	margin-top:50px;
}
.fluid{
	width:99%;
}
.hide{
	display:none;
}

.appengine{ 
	background: url('../img/appengine.gif') no-repeat 0 0; 
	width: 120px; 
	height: 30px; 
	float:right; 
	margin-top:-60px; 
	opacity: 0.85;
} 
.appengine:hover{
	opacity: 1.0;
}

.tecnologias{
	margin: 20px 0px 20px 240px;
}
.gae{ 
	background: url('../img/icon_tecnologias.png') no-repeat 0 0; 
	width: 86px; 
	height: 48px; 
	float: left;
	opacity: 0.85;
} 
.gae:hover{
	opacity: 1.0;
}
.github{ 
	background: url('../img/icon_tecnologias.png') no-repeat -136px 0; 
	width: 149px; 
	height: 48px; 
	float: left; 
	opacity: 0.85; 
} 
.github:hover{
	opacity: 1.0;
}
.html5{ 
	background: url('../img/icon_tecnologias.png') no-repeat -335px 0; 
	width: 48px; 
	height: 48px; 
	float: left; 
	opacity: 0.85; 
} 
.html5:hover{
	opacity: 1.0;
}
.java{ 
	background: url('../img/icon_tecnologias.png') no-repeat -433px 0; 
	width: 48px; 
	height: 48px; 
	float: left; 
	opacity: 0.85; 
} 
.java:hover{
	opacity: 1.0;
}
.vraptor{ 
	background: url('../img/icon_tecnologias.png') no-repeat -531px 0; 
	width: 165px; 
	height: 48px; 
	float: left; 
	opacity: 0.85; 
} 
.vraptor:hover{
	opacity: 1.0;
}

.browser{
	margin: 20px 0px 20px 320px;
}
.google-chrome{ 
	background: url('../img/icon_browsers.png') no-repeat 0 0; 
	width: 64px; 
	height: 64px; 
	float: left; 
	opacity: 0.85;
}
.google-chrome:hover{
	opacity: 1.0;
}
.mozilla-firefox{ 
	background: url('../img/icon_browsers.png') no-repeat -128px 0; 
	width: 64px; 
	height: 64px; 
	float: left; 
	opacity: 0.85;
}
.mozilla-firefox:hover{
	opacity: 1.0;
}
.internet-explorer{ 
	background: url('../img/icon_browsers.png') no-repeat -256px 0; 
	width: 64px; 
	height: 64px; 
	float: left; 
	opacity: 0.85;
}
.internet-explorer:hover{
	opacity: 1.0;
}
.opera-software{ 
	background: url('../img/icon_browsers.png') no-repeat -384px 0; 
	width: 64px; 
	height: 64px; 
	float: left; 
	opacity: 0.85;
}
.opera-software:hover{
	opacity: 1.0;
}
.apple-safari{ 
	background: url('../img/icon_browsers.png') no-repeat -512px 0; 
	width: 64px; 
	height: 64px; 
	float: left; 
	opacity: 0.85;
}
.apple-safari:hover{
	opacity: 1.0;
}